@font-face {
  font-family: "Roboto";
  src: url(//wows-static-production.wgcdn.co/wowsp/dc25575e/assets/54a91b0619ccf9373d525109268219dc.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url(//wows-static-production.wgcdn.co/wowsp/dc25575e/assets/4b8b4b377e8cb358cf886d13c7bb287c.ttf)
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url(//wows-static-production.wgcdn.co/wowsp/dc25575e/assets/b0b1845ecce8ab6a503971e808a8409c.ttf)
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

#root {
  background-image: url("https://wows-static-production.wgcdn.co/wowsp/dc25575e/assets/0ebc0c7741747b7c69da416dbd188dbd.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: repeat-x;
  min-height: 100vh;
}

body {
  font-size: 16px;
  font-family: "RobotoCondensed", "Roboto", sans-serif;
  font-weight: 400;
  line-height: 20px;
  min-width: 320px;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

b,
strong {
  font-weight: 700;
}

.link {
  padding: 0;
  margin: 0;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
}

.paginator {
  color: #ffffff;
  font-size: 20px;
  padding: 40px 0;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      min-width: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &.selected {
        font-weight: 700;
        font-size: 35px;
      }
    }
  }
}
